$ratio: 750/640;
$browser-default-font-size: 14;
$browser-default-font-size-px: 14px !default;

/*杏仁派配色*/

$primary-color:#FF8A00;
$warning-color:#f07036;
$disabled-color:rgba(0, 0, 0, 0.502);


$list-name-color:#191919; //列表标题、弹窗标题
$list-cont-color:#666666; //列表内容、弹窗内容
$input-placehold-color:#cccccc; //输入框提示文字
$form-title-color:#999999; //表单标题、提示文本
$form-bg-color:#ffffff; //表单背景色
$list-border-color:#ebebeb; //列表边框
$primary-anchor-color:#3B7ED1;
$primary-bg-color:#FFF;
$primary-btn-color:#5876a6;
$disabled-btn-color:#cccccc;
$click-btn-color:#E57A00; //按钮被按下
$default-bg-color:#F6F6F6;
$default-border-color:rgba(0, 0, 0, 0.05);
$body-bg-color:#f9f9f9;